<a href="https://colab.research.google.com/github/keynaan440/disk-cloning/blob/main/Untitled32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#blues fuction in python
numbers1 = [1,2, 3]
numbers2 = [4, 5,6]
result = numbers1 + numbers2
print(result)

[1, 2, 3, 4, 5, 6]

In [2]:
#multiply fuction in pytho
names = ["keynaan"]* 10
print(names)

['keynaan', 'keynaan', 'keynaan', 'keynaan', 'keynaan', 'keynaan', 'keynaan', 'keynaan', 'keynaan', 'keynaan']

In [8]:
# "in" fuction in pytho
names = ["keynaan", "abdi","mohamed"," farah"]
print(" farah" in names)

True