<a href="https://colab.research.google.com/github/keynaan440/disk-cloning/blob/main/Untitled39.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
  #create a set
  numbers = {"keynaan","abdi", "mohamed"}
  print(numbers)
  print(type(numbers))

num.update([150, 200, "somali", True ])
  print(num)

{'abdi', 'mohamed', 'keynaan'}
<class 'set'>
{True, 100, 200, 10, 14, 15, 22, 150, 'somali'}

In [26]:
#adding one value in the set
num = {10, 15,22, 14 }
print(num)

{10, 15, 14, 22}

In [25]:
#adding two or more value in the set
num = {10, 15,22, 14 }
num.update([100, 100, "somalia", True])

print(num)

{True, 100, 10, 14, 15, 22, 'somalia'}

In [40]:
#deleting all vlue in the set
student = {1, 20, 30, 40, 50,}
student.clear()
print(student)

set()

In [41]:
#copy variable set into another variable
tripe1 = {"reer-qansax", "reer-qurac","rer-kampala"}
tripe2 =  tripe1.copy()
print(tripe2)

{'reer-qansax', 'rer-kampala', 'reer-qurac'}